In [13]:
import pandas as pd
from datetime import datetime

In [10]:
df = pd.read_excel(r"C:\Users\Lessard_M\Documents\Python\tor_fileuploader\data source\test_crstemplate_GG.xlsx",header = 1)
df = df.loc[1:].reset_index(drop=True)

In [20]:
df["Commitment date (dd-mm-yyyy)"] = df["Commitment date (dd-mm-yyyy)"].astype(str) 

df["Commitment date (dd-mm-yyyy)"] = pd.to_datetime(df["Commitment date (dd-mm-yyyy)"],format = "%d-%m-%Y")

ValueError: time data "2022-01-15" doesn't match format "%d-%m-%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [19]:
df.head()

,Reporting year,Commitment date (dd-mm-yyyy),Reporting country / organisation,Extending agency,CRS Identification N°,Donor project N°,Nature of submission,Recipient code,Channel of delivery name,Channel code,...,Arrears of interest / \nArrears of guarantee fee,Guaranteed amount,Average use of portfolio guarantee %,PSI flag,Additionality type,Additionality assessment,Additionality – development objective,Income Group,Discount Rate,Grant Element
0,2024,2022-01-15,1,1,20220000001,abcd,1,998,African Development Bank,12004.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024,2024-01-15,1,1,20220000002,abcd,1,249,International Committee of the Red Cross,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024,2021-12-31,1,1,20220000003,abcd,3,998,Institute for Advanced Research and Policy Stu...,51010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024,2024-01-01,1,1,20220000004,abcd,1,998,Republic of Ireland,12003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024,2024-01-01,7000,1,20220000005,abcd,8,998,Private sector partnership with local small an...,21045.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN