In [ ]:
#pip install pyodbc

In [ ]:
import pandas as pd
import pyodbc

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 100)
pd.set_option("display.max_colwidth", 50)

In [ ]:
conn_str = (
    r'DRIVER={SQL Server};'
    r'SERVER=GEN-SQL19-1;'
    r'DATABASE=DCD_PROD;'
    r'Trusted_Connection=yes;'
)
cnxn = pyodbc.connect(conn_str)

In [ ]:
cursor = cnxn.cursor()

In [ ]:
query = "Select * from CRS.vCrs_All"